# History files
.Rhistory

# Data files
/data_files/

# Local files
/local_files/
/.quarto/
/.vscode/
/hw/

# generated site
/_site/

# brms cached files
brms_cached_*\.rds

# VS code files
*\.code-workspace

# Raw slides outputs, libraries
/slides/libs/
/slides/*_files/
/slides/*.html
/slides/*.pdf
/slides/img/
